.header__lang-link{
  max-width: 30px;
  margin: 0;
  color: #ffffff;
  text-decoration-line: none;
  transition: color 1s linear 2s;
}
.header__lang-link:first-of-type{
  margin-right: 18px;
}
.header__lang-link:hover{
  opacity: .8;
}
@media screen and (max-width: 425px) {
  .header__lang-link {
    max-width: 22px;
  }
}
