.header__lang-link{
  padding-top: 18px;
  padding-bottom: 6px;
  margin: 0;
  color: #ffffff;
  text-decoration-line: none;
  transition: color 1s linear 2s;
}
.header__lang-link:first-of-type{
  margin-right: 18px;
  padding-bottom: 0;
}
.header__lang-link:hover{
  opacity: .8;
}
@media screen and (max-width: 425px) {
  .header__lang-link {
    max-width: 22px;
    font-size: 18px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 8px;
  }
}

