.cover__background-link{
  display: grid;
  grid-column: 1;
  grid-row: 1/3;
  gap: 32px;
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  z-index: 1;
}
.cover__background-link::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  transition: opacity .6s ease;
  z-index: 2;
  }
.cover__background-link:hover::before {
  background-color: #2A2C2F;
  opacity: .8;
}
@media screen and (min-width: 1280px) {
  .cover__background-link {
    height: 46.40625vw;
  }
}
@media screen and (max-width: 1280px) {
  .cover__background-link {
    height: 46.40625vw;
  }
}
@media screen and (max-width: 1024px) {
  .cover__cover-bg-image {
    height: 54.89vw;
  }
}
@media screen and (max-width: 768px) {
  .cover__background-link {
    width: 100%;
    height: 65.1vw;
    gap: 16px;
  }
}
@media screen and (max-width: 320px) {
  .cover__cover-bg-image {
    height: 216px;
  }
}
