.place__image{
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .place__image {
    width: 100%;
    margin: 0;
    grid-column: 1;
    grid-row: 3;
  }
}

