.intro__title{
  max-width: 720px;
  font-weight: 900;
  font-size: 54px;
  font-style: normal;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media screen and (max-width: 1280px) {
  .intro__title {
    width: 96%;
  }
}
@media screen and (max-width: 768px) {
  .intro__title {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    width: 87%;
  }
}
